<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
        fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="start center">
            <div class="img-text" (click)="openDialog()">
                <img class="profile-image avatar huge" [src]="pictureUrl$ | async"
                    [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                <i class="material-icons modif">
                    edit
                </i>
            </div>
            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{firstName$ | async }} {{ lastName$ | async }}
            </div>
        </div>
        <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{value:'*',params:{delay:'200ms'}}">

            <!-- Bouton Modifier mon profil -->
            <div *ngIf="!isModify && !isDifferent">
                <button mat-raised-button color="primary" aria-label="Send Message" (click)="onClickModifyProfile()">
                    <i class="material-icons edit">edit</i>
                    Modifier mon profil
                </button>
            </div>

            <!-- Bouton Annuler les modifications -->
            <div *ngIf="isModify && !isDifferent">
                <button mat-raised-button color="primary" aria-label="Send Message" (click)="onClickCancel()">
                    <i class="material-icons edit">cancel</i>
                    Annuler
                </button>
            </div>

            <!-- Bouton Enregistrer les modifications -->
            <div *ngIf="isDifferent && isModify">
                <button [disabled]="profilForm.invalid" mat-raised-button color="primary" aria-label="Send Message"
                    (click)="onClickUpdate()">
                    <i class="material-icons edit">save</i>
                    Enregister !
                </button>
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <div id="about" fxLayoutAlign="center center" fxLayout="row wrap">
            <div fxFlex.md="80" fxFlex.lg="70" fxFlex.sm="90" fxFlex.xs="90" class="about-content" fxLayout="column">
                <div class="profile-box info-box general" fxLayout="column">
                    <header class="accent">
                        <div class="title">Mon profil</div>
                    </header>

                    <!-- Affichage classic si on n'est pas en modifications -->
                    <div *ngIf="!isModify">

                        <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

                            <mat-list>
                                <div fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column">
                                    <div fxFlex="50">
                                        <h3 mat-subheader>Informations personelles</h3>
                                        <mat-list-item>
                                            <mat-icon mat-list-icon>person</mat-icon>
                                            <h4 mat-line>Identité</h4>
                                            <p mat-line>{{user.firstName}} {{user.lastName}} </p>
                                        </mat-list-item>

                                        <mat-list-item>
                                            <mat-icon mat-list-icon>cake</mat-icon>
                                            <h4 mat-line>Date de naissance</h4>
                                            <p mat-line>{{user.birthday}} </p>
                                        </mat-list-item>


                                        <mat-list-item>
                                            <mat-icon mat-list-icon>mail</mat-icon>
                                            <h4 mat-line>E-mail</h4>
                                            <p mat-line> {{user.email}} </p>
                                        </mat-list-item>
                                        <mat-divider></mat-divider>
                                    </div>
                                    <div fxFlex="50">
                                        <h3 mat-subheader>Entreprise</h3>

                                        <mat-list-item>
                                            <mat-icon mat-list-icon>business</mat-icon>
                                            <h4 mat-line>Nom de l'entreprise</h4>
                                            <p mat-line>{{user.company}} </p>
                                        </mat-list-item>

                                        <mat-list-item>
                                            <mat-icon mat-list-icon>call</mat-icon>
                                            <h4 mat-line>Téléphone</h4>
                                            <p mat-line>{{user.phone}} </p>
                                        </mat-list-item>

                                        <mat-list-item>
                                            <mat-icon mat-list-icon>business_center</mat-icon>
                                            <h4 mat-line>Poste occupé</h4>
                                            <p mat-line>{{user.job}} </p>
                                        </mat-list-item>
                                    </div>
                                </div>
                            </mat-list>

                        </div>
                    </div>
                    <!-- Affichage du form si on est en modifications -->
                    <div *ngIf="isModify">
                        <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
                            <form name="profilForm" [formGroup]="profilForm" novalidate>
                                <div class="content">
                                    <div fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column">
                                        <div fxFlex="50">
                                            <!-- Prénom -->
                                            <div class="info-line">
                                                <div class="info">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Prénom</mat-label>
                                                        <input matInput formControlName="firstName">
                                                        <mat-icon matSuffix class="secondary-text">account_circle
                                                        </mat-icon>
                                                        <mat-error>
                                                            Votre prénom est requis
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <!-- Nom -->
                                            <div class="info-line">
                                                <div class="info">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Nom</mat-label>
                                                        <input matInput formControlName="lastName">
                                                        <mat-icon matSuffix class="secondary-text">account_circle
                                                        </mat-icon>
                                                        <mat-error>
                                                            Votre prénom est requis
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <!-- Date de naissance -->
                                            <div class="info-line">
                                                <div class="info">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Date de naissance</mat-label>
                                                        <input matInput formControlName="birthday">
                                                        <mat-icon matSuffix class="secondary-text">cake</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div fxFlex="50">
                                            <!-- Téléphone -->
                                            <div class="info-line">
                                                <div class="info">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Téléphone</mat-label>
                                                        <input matInput formControlName="phone">
                                                        <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <!-- Entreprise -->
                                            <div class="info-line">
                                                <div class="info">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Entreprise</mat-label>
                                                        <input matInput formControlName="company">
                                                        <mat-icon matSuffix class="secondary-text">business</mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <!-- Poste occupé -->
                                            <div class="info-line">
                                                <div class="info">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Poste occupé</mat-label>
                                                        <input matInput formControlName="job">
                                                        <mat-icon matSuffix class="secondary-text">business_center
                                                        </mat-icon>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / CONTENT -->
</div>
