<div id="about" class="px-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

        <div class="profile-box info-box general" fxLayout="column">
            <form name="profilForm" [formGroup]="profilForm" novalidate>
                <header class="accent">
                    <div class="title">Mon profil</div>
                </header>

                <div class="content">

                    <!-- Prénom -->
                    <div class="info-line">
                        <div class="info">
                            <mat-form-field appearance="outline">
                                <mat-label>Prénom</mat-label>
                                <input matInput formControlName="firstName">
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <mat-error>
                                    Votre prénom est requis
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Nom -->
                    <div class="info-line">
                        <div class="info">
                            <mat-form-field appearance="outline">
                                <mat-label>Nom</mat-label>
                                <input matInput formControlName="lastName">
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <mat-error>
                                    Votre prénom est requis
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Date de naissance -->
                    <div class="info-line">
                        <div class="info">
                            <mat-form-field appearance="outline">
                                <mat-label>Date de naissance</mat-label>
                                <input matInput formControlName="birthday">
                                <mat-icon matSuffix class="secondary-text">cake</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Téléphone -->
                    <div class="info-line">
                        <div class="info">
                            <mat-form-field appearance="outline">
                                <mat-label>Téléphone</mat-label>
                                <input matInput formControlName="phone">
                                <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Entreprise -->
                    <div class="info-line">
                        <div class="info">
                            <mat-form-field appearance="outline">
                                <mat-label>Entreprise</mat-label>
                                <input matInput formControlName="company">
                                <mat-icon matSuffix class="secondary-text">business</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Poste occupé -->
                    <div class="info-line">
                        <div class="info">
                            <mat-form-field appearance="outline">
                                <mat-label>Poste occupé</mat-label>
                                <input matInput formControlName="job">
                                <mat-icon matSuffix class="secondary-text">business_center</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div *ngIf="isDifferent">
                        <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN"
                            (click)="update()" [disabled]="profilForm.invalid">
                            Enregistrer !
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
