<!-- SIDEBAR HEADER -->
<div class="header accent p-24" fxLayout="column" fxLayoutAlign="space-between">

    <div class="toolbar" fxLayout="row" fxLayoutAlign="end center">

        <button mat-icon-button matTooltip="Delete">
            <mat-icon>delete</mat-icon>
        </button>

        <button mat-icon-button class="" aria-label="Download" matTooltip="Download">
            <mat-icon>file_download</mat-icon>
        </button>

        <button mat-icon-button aria-label="More" matTooltip="More">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <div>
        <div class="title mb-8">{{selected.name}}</div>
        <div class="subtitle secondary-text">
            <span>{{'FILE_MANAGER.EDITED' | translate }}</span>
            <span>: {{selected.modified}}</span>
        </div>
    </div>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content p-24" fusePerfectScrollbar>

    <div class="file-details" [@animate]="{value:'*',params:{delay:'200ms'}}">

        <div class="preview file-icon" fxLayout="row" fxLayoutAlign="center center">
            <mat-icon class="type-icon s-48" [ngClass]="selected.type"></mat-icon>
        </div>

        <div class="offline-switch">
            <mat-slide-toggle ([ngModel])="selected.offline" labelPosition="before"> {{'FILE_MANAGER.AVAILABLE_OFFLINE' | translate }}</mat-slide-toggle>
        </div>

        <div class="title">{{ 'FILE_MANAGER.INFO' | translate }}</div>

        <table>
            <tr class="type">
                <th>{{ 'FILE_MANAGER.TYPE' | translate }}</th>
                <td>{{selected.type}}</td>
            </tr>

            <tr class="size">
                <th>{{ 'FILE_MANAGER.SIZE' | translate }}</th>
                <td>{{selected.size === '' ? '-': selected.size}}</td>
            </tr>

            <tr class="location">
                <th>{{ 'FILE_MANAGER.LOCATION' | translate }}</th>
                <td>{{selected.location}}</td>
            </tr>

            <tr class="owner">
                <th>{{ 'FILE_MANAGER.OWNER' | translate }}</th>
                <td>{{selected.owner}}</td>
            </tr>

            <tr class="modified">
                <th>{{ 'FILE_MANAGER.MODIFIED' | translate }}</th>
                <td>{{selected.modified}}</td>
            </tr>

            <tr class="opened">
                <th>{{ 'FILE_MANAGER.OPENED' | translate }}</th>
                <td>{{selected.opened}}</td>
            </tr>

            <tr class="created">
                <th>{{ 'FILE_MANAGER.CREATED' | translate }}</th>
                <td>{{selected.created}}</td>
            </tr>
        </table>
    </div>

</div>
<!-- / SIDEBAR CONTENT -->
