    @import "src/@fuse/scss/fuse";

    profile-timeline {

        #timeline {
            max-width: 1200px;

            .timeline-content {

                .add-post {
                    margin-bottom: 0;
                    border-radius: 4px;
                    overflow: hidden;
                    @include mat-elevation(2);

                    textarea {
                        display: flex;
                        flex: 1 0 auto;
                        font-size: 13px;
                        width: 100%;
                        height: 140px;
                        border: none;
                        padding: 16px;
                        resize: vertical;
                    }

                    footer {
                        padding: 8px 12px 8px 8px;
                        border-top: 1px solid;
                    }
                }

                mat-divider {
                    border-top-width: 1px;
                    border-top-style: solid;
                    margin: 32px 0;
                }

                .timeline-item {
                    margin-bottom: 32px;
                    overflow: hidden;
                    border-radius: 4px;
                    @include mat-elevation(2);

                    &:last-child {
                        margin-bottom: 0;
                    }

                    header {
                        padding: 16px 0 8px 16px;

                        .title {
                            font-weight: 600;

                            .username {
                                margin-right: 2px;
                            }
                        }
                    }

                    .content {
                        width: 50px;

                        .message {
                            padding: 16px;
                        }

                        .media {
                            padding: 16px;

                            img,
                            iframe {
                                width: 100%;
                            }

                            a {
                                color: inherit;
                            }
                        }

                        .like-button,
                        .share-button {
                            padding: 4px 6px;
                            text-transform: inherit;
                            font-size: 13px;
                            font-weight: normal;
                            margin: 0 0 16px 8px;
                            min-width: inherit;
                            line-height: inherit;

                            &:hover {
                                background-color: transparent;
                            }

                            mat-icon {
                                margin: 0 8px 0 0;
                            }
                        }

                        .article {
                            border: 1px solid;
                            margin: 16px;

                            .media {
                                padding: 0;
                                overflow: hidden;
                                border-bottom: 1px solid;

                                img {
                                    display: block;
                                    padding: 0;
                                }
                            }

                            .title {
                                font-size: 15px;
                                padding: 16px 16px 4px 16px;
                            }

                            .subtitle {
                                padding: 0 16px;
                            }

                            .excerpt {
                                padding: 16px 16px;
                            }
                        }
                    }

                    footer {
                        padding: 16px;

                        .comment-count {
                            margin-bottom: 16px;
                            cursor: pointer;

                            mat-icon {
                                margin-left: 8px;
                            }
                        }

                        .comment {
                            margin-bottom: 24px !important;

                            .username {
                                font-weight: 600;
                                margin-right: 4px;
                            }

                            .actions {
                                margin-top: 8px;

                                .reply-button {
                                    margin-right: 16px;
                                    cursor: pointer;
                                }

                                .report-button {
                                    margin: 0;
                                    cursor: pointer;
                                }
                            }
                        }

                        .reply {

                            form {

                                textarea {
                                    width: 100% !important;
                                    min-height: 72px;
                                    padding: 8px;
                                    margin-bottom: 8px;
                                    font-size: 13px;
                                    border: 1px solid;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
                }
            }

            .timeline-sidebar {
                padding-left: 32px;

                @include media-breakpoint('lt-md') {
                    padding: 32px 0 0 0;
                }

                .latest-activity {

                    .content {

                        .activities {

                            .activity {
                                padding: 16px 0;

                                .avatar {
                                    margin-right: 16px;
                                }

                                .username {
                                    font-weight: 600;
                                }

                                .message {
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }

        // Profile boxes
        .profile-box {
            border-radius: 4px;
            overflow: hidden;
            margin-bottom: 16px;
            @include mat-elevation(2);

            header {
                padding: 16px;

                .title {
                    font-size: 17px;
                }

                .more {
                    cursor: pointer;
                }
            }

            .content {
                padding: 16px;
            }

            footer {
                padding: 8px;
                border-top: 1px solid;
            }

            &.info-box {

                .info-line {
                    margin-bottom: 24px;

                    .title {
                        font-size: 15px;
                        font-weight: 600;
                        padding-bottom: 4px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
