<div id="forgot-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="forgot-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/fuse.svg">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Bienvenue sur TradingZone !
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Votre outils d'aide à la décision, pour l'achat d'action. Le monde de la bourse facilité !
        </div>

    </div>

    <div id="forgot-password-form-wrapper" fusePerfectScrollbar
        [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="forgot-password-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">
                <i class="material-icons icon">
                    lock_open
                </i>Mot de passe oublié ?</div>

            <form name="forgoPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Votre email</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Votre Email est requis
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        Entrez un Email valide
                    </mat-error>
                </mat-form-field>

                <div *ngIf="loading$ | async">
                    <div class="loading">
                        <mat-spinner class="spinner" diameter="20" strokeWidth="2"></mat-spinner>
                        <span class="text">Vérification...</span>
                    </div>
                </div>

                <div *ngIf="isEmailSent">
                    <span class="text">Un e-mail de récupération vous a été envoyé
                        à l'adresse : <b> {{ emailForm.value }} </b>
                    </span>
                </div>

                <button mat-raised-button class="submit-button" color="accent" aria-label="SEND RESET LINK"
                    [disabled]="forgotPasswordForm.invalid" (click)="resetPassword()">
                    Envoyer !
                </button>

            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/pages/auth/login-2'">Retour à la connexion</a>
            </div>

        </div>
    </div>
</div>