<mat-toolbar class="p-0 mat-elevation-z1">
    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="navbar-toggle-button" *ngIf="!hiddenNavbar && !rightNavbar"
                (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>
            <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div>
            <div class="logo" *ngIf="!isLarge">
                <img class="logo-icon" src="assets/images/logos/fuse.svg">
                <span>&nbsp;Trading Zone</span>
            </div>
            <!-- Version mobile quand isLarge === true -->
            <div class="logo" *ngIf="isLarge" fxHide.gt-md>
                <img class="logo-icon" src="assets/images/logos/fuse.svg">
            </div>
        </div>
        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
            <div class="toolbar-separator" *ngIf="!isLarge"></div>
            <button mat-button fxHide fxShow.gt-xs class="language-button" [matMenuTriggerFor]="languageMenu">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="flag mr-8" [src]="'assets/icons/flags/'+selectedLanguage.flag+'.png'">
                    <span class="iso text-uppercase">{{selectedLanguage.id}}</span>
                </div>
            </button>
            <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                    <span fxLayout="row" fxLayoutAlign="start center">
                        <img class="flag mr-16" [src]="'assets/icons/flags/'+lang.flag+'.png'">
                        <span class="iso">{{lang.title}}</span>
                    </span>
                </button>
            </mat-menu>
            <button mat-menu-item (click)="signOut()" *ngIf="!isLarge">
                <mat-icon>exit_to_app</mat-icon>
                <span>Déconnexion</span>
            </button>
            <div class="toolbar-separator" fxHide fxShow.gt-xs *ngIf="!isLarge"></div>
            <button mat-icon-button fxHide.gt-md class="chat-panel-toggle-button"
                (click)="toggleSidebarOpen('chatPanel')" aria-label="Toggle chat panel" *ngIf="!isLarge">
                <mat-icon class="secondary-text">chat</mat-icon>
            </button>

            <!-- Version mobile -->
            <button mat-icon-button (click)="toggleSidebarOpen('chatPanel')" aria-label="Toggle chat panel"
                *ngIf="isLarge">
                <mat-icon>chat</mat-icon>
            </button>

            <button mat-icon-button (click)="signOut()" *ngIf="isLarge" class="sign-out">
                <mat-icon>exit_to_app</mat-icon>
            </button>
            <!-- /Version mobile -->

            <div class="toolbar-separator" *ngIf="!hiddenNavbar && rightNavbar" fxHide fxShow.gt-xs></div>
            <button mat-icon-button class="navbar-toggle-button" *ngIf="!hiddenNavbar && rightNavbar"
                (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>