@import "src/@fuse/scss/fuse";
@import "node_modules/angular-calendar/scss/angular-calendar";

.mat_icon{
    svg{
        width: 10rem;
        height: 10rem;
    }
}
.card-perso{
    width: 100%;
}
.card-c{
    width: 50%;
    text-align: left;
}
.card-c{
    h2{
        margin-top: 0;
    }
}
.forestgreen{
    font-size: 2.5rem;
    font-weight: bolder;
    color: rgb(127, 207, 131);
}
.text-red{
    color: rgb(248, 128, 128);
    font-size: 2.5rem;
    font-weight: bolder;
}
mat-card{
    text-align: center;
}
.calendar-card {
    max-width: 500px;
    margin: 20px;

}

  .list-item:hover{
      cursor: pointer;
      background-color: #3f51b5;
      color: white;
  }
  

.title {
    font-size: 17px;
    display: flex;
    align-self: center;

    .icon {
        padding-right: 6px;
    }

}

.week-calendar {
    text-align: center;
    font-size: 17px;

}

.cal-month-view {

    .cal-header {

        .cal-cell {
            font-weight: 600;
        }
    }

    .cal-day-cell {

        @include media-breakpoint(lg) {
            min-height: 150px;
        }

        @include media-breakpoint(gt-lg) {
            min-height: 200px;
        }

        &.cal-selected {
            border: none;
            @include mat-elevation(9);
        }
    }

    .cal-open-day-events {
        box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.54);
        padding: 0;
        display: flex;
        flex-direction: column;

        >div {
            padding: 0 16px;
            margin: 8px 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            @include mat-elevation(1);
            transition: box-shadow 300ms ease;

            &:first-of-type {
                margin-top: 16px;
            }

            &:last-of-type {
                margin-bottom: 16px;
            }

            &:hover {
                @include mat-elevation(3);
            }

            .cal-event {
                top: 0;
                margin: 0;
            }

            mwl-calendar-event-title {
                flex: 1;

                .cal-event-title {
                    display: block;
                    padding: 21px 24px;
                    line-height: 1;
                    text-decoration: none;
                }
            }

            mwl-calendar-event-actions {

                .cal-event-actions {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .cal-event-action {
                        display: block;
                        line-height: 1;
                        padding: 8px;
                    }
                }
            }

        }
    }
}

.cal-week-view {

    .cal-header>b {
        font-weight: 600;
    }

    .cal-event {
        display: flex;
        flex-direction: row;
        align-items: center;

        mwl-calendar-event-title {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex: 1;
            order: 0;

            .cal-event-title {
                display: block;
                line-height: 1;
                text-decoration: none;
            }
        }

        mwl-calendar-event-actions {
            order: 1;

            .cal-event-actions {
                display: flex;
                flex-direction: row;
                align-items: center;

                .cal-event-action {
                    display: block;
                    line-height: 1;
                    padding: 8px;
                }
            }
        }
    }
}

.cal-day-view {

    .cal-time {
        font-weight: 600;
    }

    .cal-event {
        display: flex;
        flex-direction: row;

        mwl-calendar-event-title {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex: 1;
            order: 0;

            .cal-event-title {
                display: block;
                height: 26px;
                line-height: 26px;
                text-decoration: none;
            }
        }

        mwl-calendar-event-actions {
            order: 1;

            .cal-event-actions {
                display: flex;
                flex-direction: row;
                align-items: center;

                .cal-event-action {
                    display: block;
                    line-height: 1;
                    padding: 4px;
                }
            }
        }
    }

    .cal-hour-segment {

        &:after,
        &::after {
            content: '' !important;
        }
    }
}

#calendar-dashboard {

    .header-dashboard {
        height: 250px;
        min-height: 250px;
        max-height: 320px;
        background: url('https://firebasestorage.googleapis.com/v0/b/ping10.appspot.com/o/backgrounds%2Fdark-material-bg.jpg?alt=media&token=5dc7f6a6-4c92-4a9e-b728-e7bfb24d7bbd') no-repeat 0 45%;
        background-size: cover;

        .img-text {
            position: relative;
            text-align: center;
            color: white;
            margin: 0px 24px 0px 24px;
            cursor: pointer;

            .profile-image {


                @include media-breakpoint('sm') {
                    margin: 0 0 1px 0;
                }
            }

            .modif {
                position: absolute;
                margin: 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                color: white;
                font-size: 2em;
            }

        }

        .img-text:hover {
            .profile-image {
                filter: blur(5px) brightness(0.6);
            }

            .modif {
                opacity: 1;
            }

        }

        .name {
            font-size: 34px;
            color: #FFFFFF;

            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }


        .actions {

            button {
                text-transform: none;
                padding: 0 16px;
                margin: 0 0 0 8px;

                .edit {
                    color: white;
                }
            }
        }
    }

    max-width: 1200px;

    .about-content {

        .general {

            .location {

                mat-icon {
                    line-height: 13px !important;
                }
            }
        }

        .work {

            .job {

                .company {
                    padding: 0 16px 0 0;
                    font-weight: 600;
                }
            }
        }
    }

    .about-sidebar {
        padding-left: 32px;

        @include media-breakpoint('sm') {
            padding: 8px
        }

        .friends {
            .content {

                .friend {
                    padding: 4px;

                    img {
                        border-radius: 4px;
                    }
                }
            }
        }

        .groups {

            .content {

                .group {
                    margin-bottom: 24px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .logo {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 48px;
                        height: 48px;
                        font-size: 21px;
                        line-height: normal;
                        border-radius: 50%;
                        margin-right: 16px;
                    }

                    .name {
                        font-weight: 600;
                        font-size: 15px;
                    }

                    .members {
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}

// Profile boxes
.profile-box {
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 16px;
    @include mat-elevation(2);

    header {
        padding: 16px;

        .title {
            font-size: 17px;
        }

        .more {
            cursor: pointer;
        }
    }

    .content {
        padding: 16px;
    }

    footer {
        padding: 8px;
        border-top: 1px solid;
    }

    &.info-box {
        .left {
            float: left;
            align-self: center;
            margin-top: 147px;
        }

        .right {
            float: right;
            margin-top: 147px;
        }

        .calendar-content {
            margin-right: 50px;
            margin-left: 50px;
            margin-top: 20px;
        }

        .info-line {
            margin-bottom: 24px;

            .title {
                font-size: 15px;
                font-weight: 600;
                padding-bottom: 4px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


#content-dashboard {
    padding: 24px;
    
    .about-content {

        .general {

            .location {

                mat-icon {
                    line-height: 13px !important;
                }
            }
        }

        .work {

            .job {

                .company {
                    padding: 0 16px 0 0;
                    font-weight: 600;
                }
            }
        }
    }

    .about-sidebar {
        padding-left: 32px;

        @include media-breakpoint('sm') {
            padding: 8px
        }

        .friends {

            .content {

                .friend {
                    padding: 4px;

                    img {
                        border-radius: 4px;
                    }
                }
            }
        }

        .groups {

            .content {

                .group {
                    margin-bottom: 24px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .logo {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 48px;
                        height: 48px;
                        font-size: 21px;
                        line-height: normal;
                        border-radius: 50%;
                        margin-right: 16px;
                    }

                    .name {
                        font-weight: 600;
                        font-size: 15px;
                    }

                    .members {
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}

// Profile boxes
.profile-box {
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 16px;
    @include mat-elevation(2);

    header {
        padding: 16px;

        .title {
            font-size: 17px;
        }

        .more {
            cursor: pointer;
        }
    }

    .content {
        padding: 16px;
    }

    footer {
        padding: 8px;
        border-top: 1px solid;
    }

    &.info-box {

        .info-line {
            margin-bottom: 24px;

            .title {
                font-size: 15px;
                font-weight: 600;
                padding-bottom: 4px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.contact-content {

    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
      }
      
      .example-full-width {
        width: 100%;
      }
      
      .example-option-img {
        vertical-align: middle;
        margin-right: 8px;
      }
      
      [dir='rtl'] .example-option-img {
        margin-right: 0;
        margin-left: 8px;
      }

    overflow-y: auto;
    height: 400px;
    .card {
        padding-bottom: 20px;
    }

    .mat-table {
        height: 360px;
        overflow: auto;
        width: 100%;
        background: transparent;
        box-shadow: none;

        .mat-column-checkbox {
            flex: 0 1 64px;
            padding-left: 18px;
        }

        .mat-column-avatar {
            flex: 0 1 80px;
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .mat-row {
            position: relative;
            cursor: pointer;
            padding: 8px;

            .mat-cell {
                min-width: 0;

                &.mat-column-detail-button {
                    flex: 0 1 auto;
                    padding: 0 24px 0 0;

                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}
