<div id="calendar-dashboard" class="page-layout simple fullwidth">

    <!-- HEADER - Photo + titre -->
    <div class="header-dashboard p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="column">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="column"
            fxLayoutAlign.gt-sm="start center">
            <div routerLink="/pages/profile" routerLinkActive="active" class="img-text">
                <img class="profile-image avatar huge" [src]="pictureUrl$ | async"
                    [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                <i class="material-icons modif">
                    edit
                </i>
            </div>
            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                Bienvenue {{firstName$ | async}} !
            </div>
            <br>
            <button routerLink="/pages/profile" mat-raised-button color="primary" aria-label="Voir mon profil">
                <i class="material-icons edit">person</i>
                Voir mon profil
            </button>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT Datatable + Graph -->
    <div id="content-dashboard" class="p-24" fxLayout="row wrap">
        <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="35">
            <!-- Card du calendrier -->
            <div class="profile-box info-box general" fxLayout="column">
                <header class="accent">
                    <div class="title">
                        <div class="icon">
                            <mat-icon>trending_up</mat-icon>
                        </div>
                        Mes entreprises
                    </div>
                </header>
                <div class="content contact-content">
                    <mat-form-field class="search-field" style="width: 100%">
                        <input matInput (keyup)="applyFilter($event.target.value)" style="width: 100%"
                            placeholder="Rechercher...">
                    </mat-form-field>
                    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        <!-- Avatar Column -->
                        <ng-container matColumnDef="avatar">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let contact">
                                <img class="avatar" [src]="contact.logoUrl" />
                            </mat-cell>
                        </ng-container>
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <mat-cell *matCellDef="let contact">
                                <p class="text-truncate font-weight-600">{{contact.name}}</p>
                            </mat-cell>
                        </ng-container>
                        <!-- Buttons Column -->
                        <ng-container matColumnDef="buttons">
                            <mat-cell *matCellDef="let contact">
                                <div fxFlex="row" fxLayoutAlign="end center">
                                    <button mat-icon-button>
                                        <mat-icon class="more-icon">more_vert</mat-icon>
                                    </button>
                                </div>
                            </mat-cell>
                        </ng-container>

                        <mat-row *matRowDef="let contact; columns: displayedColumns;" class="contact"
                            (click)="getSelectedCompany(contact)" [@animate]="{value:'*',params:{y:'100%'}}" matRipple
                            [@animate]="{value:'*',params:{y:'100%'}}">
                        </mat-row>
                    </mat-table>
                </div>
            </div>
        </div>

        <!-- Contact card -->
        <div [ngClass]="{'about-sidebar': isSmall === false}" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50"
            fxFlex.gt-md="65">
            <div class="profile-box friends" fxLayout="column">
                <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="title">
                        <div class="icon">
                            <mat-icon>business_center</mat-icon>
                        </div>
                        {{ selectedCompany.name }}
                    </div>

                </header>


                <div class="content contact-content">
                    <!-- {{ selectedCompany.times }} -->
                    <mat-tab-group>
                        <mat-tab label="Actions - Conseil d'achat">
                            <br>
                            <mat-card style="display: flex;" class="card-perso">
                                <div class="left card-c">
                                    <h2>Prix actuel <br>
                                        <b style="font-size: 3.5rem;">{{global.price}}</b> EUR</h2>
                                    <h4>Variation <br> <span
                                            [ngClass]="(global.change >= 0) ? 'forestgreen' : 'text-red'">{{global.change}}%</span>
                                    </h4>
                                </div>
                                <div class="right card-c">
                                    <div class="card-perso" style="display: flex;">
                                        <div class="left card-c">
                                            <h4>Ouverture
                                                <br><b>{{global.open}} €</b></h4>
                                        </div>
                                        <div class="right card-c">
                                            <h4>Clôture veille
                                                <br><b>{{global.cloture}} €</b></h4>
                                        </div>
                                    </div>
                                    <div class="card-perso" style="display: flex;">
                                        <div class="left card-c">
                                            <h4>+Haut
                                                <br><b>{{global.high}} €</b></h4>
                                        </div>
                                        <div class="right card-c">
                                            <h4>-Bas
                                                <br><b>{{global.low}} €</b></h4>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                            <div class="content contact-content">
                                <!-- {{ selectedCompany.quotes }} -->
                                <!-- <div class="mat-elevation-z8"> -->
                                <div *ngIf="cherche"
                                    style="display: flex; flex-direction: column; align-items: center;justify-content: center;">
                                    <mat-spinner class="spinner" diameter="30" strokeWidth="3"></mat-spinner>
                                    <div class="text" style="margin-top: 2rem;">{{ texte }}</div>
                                </div>
                                <div *ngIf="!cherche">
                                    <div *ngIf="avis.acheter || avis.rien || avis.vendre"
                                        style="margin: 2rem auto; text-align: center;">
                                        <mat-icon *ngIf="avis.acheter" svgIcon="bull" class="mat_icon"
                                            style="margin-right: 2rem; width: 10rem;"></mat-icon>
                                        <mat-icon *ngIf="avis.rien" svgIcon="portfolio" class="mat_icon"
                                            style="margin-right: 2rem; width: 10rem;"></mat-icon>
                                        <mat-icon *ngIf="avis.vendre" svgIcon="bear" class="mat_icon"
                                            style="margin-right: 2rem; width: 10rem;"></mat-icon>
                                    </div>

                                    <mat-card class="mat-elevation-z8" style="background-color: forestgreen;"
                                        *ngIf="avis.acheter">
                                        <!-- <mat-icon svgIcon="bull" style="margin-right: 2rem;"></mat-icon> -->
                                        Nous vous conseillons d'acheter
                                    </mat-card>
                                    <mat-card class="mat-elevation-z8" style="background-color: yellow; color: #333;"
                                        *ngIf="avis.rien">
                                        <!-- <mat-icon aria-hidden="false" style="margin-right: 2rem;" aria-label="Example home icon">done</mat-icon> -->
                                        Nous vous conseillons de ne rien faire
                                    </mat-card>
                                    <mat-card class="mat-elevation-z8" style="background-color: red;"
                                        *ngIf="avis.vendre">
                                        <!-- <mat-icon aria-hidden="false" style="margin-right: 2rem;" aria-label="Example home icon">done</mat-icon> -->
                                        Nous vous conseillons de vendre
                                    </mat-card>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Graphique - Cours actuel">
                            <br>
                            <div *ngIf="selectedCompanyGraph === 'MSFT'">

                                <iframe frameBorder='0' scrolling='no' style="width: 100%; height: 450px;"
                                    src="https://api.stockdio.com/visualization/financial/charts/v1/HistoricalPrices?app-key=0478656265C542CCA65478E024966D17&symbol=MSFT&dividends=true&splits=true&culture=French-France&palette=Aurora">
                                </iframe></div>

                            <!-- <mat-icon svgIcon="bear" style="margin-right: 2rem;"></mat-icon> -->
                            <div *ngIf="selectedCompanyGraph === 'KORI.PAR'">

                                <iframe frameBorder='0' scrolling='no' style="width: 100%; height: 450px;"
                                    src="https://api.stockdio.com/visualization/financial/charts/v1/HistoricalPrices?app-key=0478656265C542CCA65478E024966D17&stockExchange=PEX&symbol=KORI&dividends=true&splits=true&culture=French-France&palette=Aurora">
                                </iframe></div>

                            <div *ngIf="selectedCompanyGraph === 'LOR.STG'">
                                <iframe frameBorder='0' scrolling='no' style="width: 100%; height: 450px;"
                                    src="https://api.stockdio.com/visualization/financial/charts/v1/HistoricalPrices?app-key=0478656265C542CCA65478E024966D17&stockExchange=FWB&symbol=LOR&dividends=true&splits=true&culture=French-France&palette=Aurora">
                                </iframe></div>

                            <div *ngIf="selectedCompanyGraph === 'FTI.PAR'">

                                <iframe frameBorder='0' scrolling='no' style="width: 100%; height: 450px;"
                                    src="https://api.stockdio.com/visualization/financial/charts/v1/HistoricalPrices?app-key=0478656265C542CCA65478E024966D17&stockExchange=PEX&symbol=FTI&dividends=true&splits=true&culture=French-France&palette=Aurora">
                                </iframe></div>

                            <div *ngIf="selectedCompanyGraph === 'ATO.PAR'">
                                <iframe frameBorder='0' scrolling='no' style="width: 100%; height: 450px;"
                                    src="https://api.stockdio.com/visualization/financial/charts/v1/HistoricalPrices?app-key=0478656265C542CCA65478E024966D17&stockExchange=PEX&symbol=ATO&dividends=true&splits=true&culture=French-France&palette=Aurora">
                                </iframe></div>

                            <div *ngIf="selectedCompanyGraph === 'BIM.PAR'">
                                <iframe frameBorder='0' scrolling='no' style="width: 100%; height: 450px;"
                                    src="https://api.stockdio.com/visualization/financial/charts/v1/HistoricalPrices?app-key=0478656265C542CCA65478E024966D17&stockExchange=PEX&symbol=BIM&dividends=true&splits=true&culture=French-France&palette=Aurora">
                                </iframe></div>

                            <div *ngIf="selectedCompanyGraph === 'SOP.PAR'">
                                <iframe frameBorder='0' scrolling='no' style="width: 100%; height: 450px;"
                                    src="https://api.stockdio.com/visualization/financial/charts/v1/HistoricalPrices?app-key=0478656265C542CCA65478E024966D17&stockExchange=PEX&symbol=SOP&dividends=true&splits=true&culture=French-France&palette=Aurora">
                                </iframe></div>
                        </mat-tab>

                        <mat-tab>
                                <button routerLink="/pages/profile" mat-raised-button color="primary" aria-label="Voir mon profil">
                                    <i class="material-icons edit">person</i>
                                    Voir mon profil
                                </button>
                        </mat-tab>
                    </mat-tab-group>

                </div>
            </div>
        </div>

        <div *ngIf="!isFilterApplieds" class="about-content" style="width: 100%;" cdkScrollable>
            <div class="profile-box friends" fxLayout="column">
                <header class="accent" fxFlex.gt-md="40" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="title">
                        <div class="icon">
                            <mat-icon>dashboard</mat-icon>
                        </div>
                        Actualités
                    </div>
                </header>
                <div>
                    <form class="example-form">
                        <mat-form-field class="example-full-width"
                            style="width: 40%; padding-left: 20px; padding-top: 20px;">
                            <input matInput placeholder="Rechercher..." aria-label="Rechercher..."
                                [matAutocomplete]="auto" [formControl]="stateCtrl">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let state of articles" [value]="state.title">

                                    <span>{{state.title}}</span>

                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>
                </div>
                <div class="content contact-content" fxFlex.gt-sm="100"
                    style="width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;">
                    <div class="card" style="width: 25%; " *ngFor="let article of articles">
                        <mat-card fxLayout="column" style="width: 97%; height: 100%;">
                            <mat-card-header>
                                <mat-card-title class="title">{{article.title.substring(0,23) + '...'}}</mat-card-title>
                                <mat-card-subtitle>{{article.source.name}}</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image class="img-article" style="height: 15rem;" src={{article.urlToImage}}
                                alt="">
                            <mat-card-content>
                                <p>
                                    {{(article.description)?article.description.substring(0,40) + '...' : '...'}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions class="action-buttons">
                                <a mat-button color="primary" href={{article.url}} target="_blank">
                                    <mat-icon>visibility</mat-icon> Voir l'article
                                </a>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="isFilterApplieds" class="about-content" style="width: 100%;" cdkScrollable>
            <div class="profile-box friends" fxLayout="column">
                <header class="accent" fxFlex.gt-md="40" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="title">
                        <div class="icon">
                            <mat-icon>dashboard</mat-icon>
                        </div>
                        Actualités
                    </div>
                </header>
                <div>
                    <form class="example-form">
                        <mat-form-field class="example-full-width"
                            style="width: 40%; padding-left: 20px; padding-top: 20px;">
                            <input matInput placeholder="Rechercher..." aria-label="Rechercher..."
                                [matAutocomplete]="auto" [formControl]="stateCtrl">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let state of articles" [value]="state.title">

                                    <span>{{state.title}}</span>

                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>
                </div>
                <div class="content contact-content" fxFlex.gt-sm="100"
                    style="width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;">
                    <div class="card" style="width: 25%; " *ngFor="let article of filteredStates | async">
                        <mat-card fxLayout="column" style="width: 97%; height: 100%;">
                            <mat-card-header>
                                <mat-card-title class="title">{{article.title.substring(0,23) + '...'}}</mat-card-title>
                                <mat-card-subtitle>{{article.source.name}}</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image class="img-article" style="height: 15rem;" src={{article.urlToImage}}
                                alt="">
                            <mat-card-content>
                                <p>
                                    {{(article.description)?article.description.substring(0,40) + '...' : '...'}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions class="action-buttons">
                                <a mat-button color="primary" href={{article.url}} target="_blank">
                                    <mat-icon>visibility</mat-icon> Voir l'article
                                </a>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>

    </div>