<!-- SIDEBAR HEADER -->
<div class="header p-24" fxLayout="column" fxLayoutAlign="space-between">

    <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon secondary-text s-36 mr-16">folder</mat-icon>
        <span class="logo-text h1">{{ 'FILE_MANAGER.FILE_MANAGER' | translate}}</span>
    </div>

</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content py-16" fusePerfectScrollbar>

    <div class="nav material2">

        <div class="nav-item" aria-label="inbox">
            <a class="nav-link" matRipple>
                <mat-icon class="nav-link-icon">folder</mat-icon>
                <span class="title">{{ 'FILE_MANAGER.MY_FILE' | translate}}</span>
            </a>
        </div>

        <div class="nav-item" aria-label="starred">
            <a class="nav-link" matRipple>
                <mat-icon class="nav-link-icon">star</mat-icon>
                <div class="title">{{ 'FILE_MANAGER.STARRED' | translate }}</div>
            </a>
        </div>

        <div class="nav-item" aria-label="starred">
            <a class="nav-link" matRipple>
                <mat-icon class="nav-link-icon">folder_shared</mat-icon>
                <div class="title">{{ 'FILE_MANAGER.SHARED_WITH_ME' | translate }}</div>
            </a>
        </div>

        <div class="nav-item" aria-label="starred">
            <a class="nav-link" matRipple>
                <mat-icon class="nav-link-icon">access_time</mat-icon>
                <div class="title">{{ 'FILE_MANAGER.RECENT' | translate }}</div>
            </a>
        </div>

        <div class="nav-item" aria-label="starred">
            <a class="nav-link" matRipple>
                <mat-icon class="nav-link-icon">{{ 'FILE_MANAGER.NOT_INTERESTED' | translate }}</mat-icon>
                <div class="title">{{ 'FILE_MANAGER.OFFLINE' | translate }}</div>
            </a>
        </div>
    </div>

</div>
<!-- / SIDEBAR CONTENT -->
