<h1 matDialogTitle>{{ 'CALENDAR.CONFIRM_TITLE' | translate }}</h1>
<div mat-dialog-content>{{confirmMessage}}</div>
<div mat-dialog-actions class="pt-24">
    <button mat-raised-button class="mat-accent mr-16" (click)="dialogRef.close(true)">{{ 'CALENDAR.CONFIRM' | translate }}</button>
    <button mat-button (click)="dialogRef.close(false)">{{ 'CALENDAR.CANCEL' | translate }}</button>
</div>
