<div id="register" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="register-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/fuse.svg">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Bienvenue sur TradingZone !
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Votre outils d'aide à la décision, pour l'achat d'action. Le monde de la bourse facilité !
        </div>

    </div>

    <div id="register-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="register-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">
                <i class="material-icons icon">
                    people
                </i>TradingZone - Connexion</div>


          <form name="formGroup" [formGroup]="formGroup" autocomplete="off">
            <mat-vertical-stepper #linearVerticalStepper="matVerticalStepper" formArrayName="formArray" [linear]="false">
              <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
                <ng-template matStepLabel>Informations personnelles</ng-template>
                <mat-form-field>
                  <mat-label>Nom</mat-label>
                  <input matInput formControlName="lastName" required>
                  <mat-error>Ce champ est requis</mat-error>
                </mat-form-field>
          
                <mat-form-field>
                  <mat-label>Prénom</mat-label>
                  <input matInput formControlName="firstName" required>
                  <mat-error>Ce champ est requis</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" autocomplete="off" required>
                  <mat-error>Ce champ est requis</mat-error>
                </mat-form-field>
                <div>
                  <button mat-button matStepperNext>Suivant</button>
                </div>
              </mat-step>
          
              <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
                <ng-template matStepLabel>
                  <div>Informations d'entreprise</div>
                </ng-template>
                <mat-form-field>
                  <mat-label>Nom de l'entreprise</mat-label>
                  <input matInput formControlName="company">
                  <mat-error>Ce champ est requis</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Poste occupé</mat-label>
                  <input matInput formControlName="job">
                  <mat-error>Ce champ est requis</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Numéro de téléphone</mat-label>
                  <input matInput formControlName="phone">
                  <mat-error>Ce champ est requis</mat-error>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Précédent</button>
                  <button mat-button matStepperNext>Suivant</button>
                </div>
              </mat-step>

              <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
                <ng-template matStepLabel>Mot de passe</ng-template>
                <mat-form-field>
                  <mat-label>Mot de passe </mat-label>
                  <input matInput type="password" formControlName="password" required>
                  <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                  <mat-error>Votre mot de passe est requis</mat-error>
              </mat-form-field>

              <mat-form-field>
                  <mat-label>Confirmation</mat-label>
                  <input matInput type="password" formControlName="passwordConfirm">
                  <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                  <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
                      La vérification du mot de passe est requise
                  </mat-error>
                  <mat-error *ngIf="!registerForm.get('passwordConfirm').hasError('required') &&
                                     registerForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                      Les mots de passes ne sont pas identiques
                  </mat-error>
              </mat-form-field>
               
              </mat-step>
     
            </mat-vertical-stepper>
            
            <div *ngIf="loading$ | async">
              <div class="loading">
                  <mat-spinner class="spinner" diameter="20" strokeWidth="2"></mat-spinner>
                  <span class="text">Vérification...</span>
              </div>
          </div>

          <div *ngIf="loadingData$ | async">
              <div class="loading">
                  <mat-spinner class="spinner" diameter="20" strokeWidth="2"></mat-spinner>
                  <span class="text">Chargement des données...</span>
              </div>
          </div>

          <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
              [disabled]="formGroup.invalid" (click)="onCreateUser()">
              S'inscrire !
          </button>
          </form>

          <div class="register" fxLayout="column" fxLayoutAlign="center center">
            <span class="text">Vous avez déjà un compte ?</span>
            <a class="link" [routerLink]="'/pages/auth/login-2'">Se connecter</a>
        </div>

        </div>
    </div>

    


</div>
