<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/fuse.svg">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Bienvenue sur TradingZone !
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Votre outils d'aide à la décision, pour l'achat d'action. Le monde de la bourse facilité !
        </div>

    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">
                <i class="material-icons icon">
                    people
                </i>TradingZone - Connexion</div>

            <form name="loginForm" [formGroup]="loginForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        Votre mail est requis
                    </mat-error>
                    <mat-error *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        Entrez une adresse mail valide
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Votre mot de passe est requis
                    </mat-error>
                </mat-form-field>

                <div *ngIf="loading$ | async">
                    <div class="loading">
                        <mat-spinner class="spinner" diameter="20" strokeWidth="2"></mat-spinner>
                        <span class="text">Vérification...</span>
                    </div>
                </div>

                <div *ngIf="loadingData$ | async">
                    <div class="loading">
                        <mat-spinner class="spinner" diameter="20" strokeWidth="2"></mat-spinner>
                        <span class="text">Chargement des données...</span>
                    </div>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN" (click)="logIn()"
                    [disabled]="loginForm.invalid">
                    Se connecter !
                </button>

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password-2'">
                    Mot de passe oublié ?
                </a>
            </div>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/pages/auth/register-2'">Créer un nouveau compte</a>
            </div>
        </div>
    </div>
</div>
