<div id="mail-confirm" fxLayout="column">

    <div id="mail-confirm-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="mail-confirm-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <mat-icon class="mat-accent s-96">email</mat-icon>
            </div>

            <div class="title">Confirmez votre adresse mail !</div>

            <div class="subtitle">
                <p>
                    Un e-mail de confirmation a été envoyé à l'adresse <b> {{ currentUserEmail }} </b>
                </p>
                <p>
                    Vérifez votre boite et cliquez sur "Confirmer mon Email" pour confirmer votre adresse.
                </p>
            </div>

            <div class="message">
                <a class="link" [routerLink]="'/pages/auth/login-2'">Retourner à la page de connexion</a>
            </div>

            <div class="message">
                <a class="link" (click) = "senVerificationEmail()">Renvoyer le mail de confirmation</a>
            </div>

        </div>

    </div>

</div>
